@font-face {
   font-family: 'Architects Daughter';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/sagef/OneDrive/Desktop/Mobirise/Sage%20Delio/fonts/Architects Daughter/regular.ttf') format('truetype');
}
